{$REVISO_HOST} {
	encode zstd gzip

	header {
		-Server
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		Referrer-Policy "no-referrer"
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
	}

	reverse_proxy reviso:8000
}
